<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Catalogue Restaurant For You">
    <meta name="theme-color" content="#001523">
    <link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./icons/favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps</title>
</head>

<body>
    <a tabindex="0" href="#maincontent" class="skip-link">Skip To Content</a>
    <header class="app-bar">
        <nav id="navigationDrawer">
            <h2 tabindex="0" class="app-title" aria-label="app-title">Restaurant Apps</h2>
            <a tabindex="0" id="menu" class="nav-menu" aria-label="navigation-menu">☰</a>
            <div id="drawer" class="drawer-menu">
                <ul class="nav-list">
                    <li class="nav-item"><a tabindex="0" href="#/home">Home</a></li>
                    <li class="nav-item"><a tabindex="0" href="#/favorite">Favorite</a></li>
                    <li class="nav-item"><a tabindex="0" href="https://github.com/icalbalino">About Us</a></li>
                </ul>
            </div>
        </nav>

        <div class="hero">
            <div class="hero-inner">
                <h1 class="hero-title">Restaurant Apps Submission-2 Project</h1>
                <hr>
                <p class="hero-tagline text">
                    This is a project submission for the Dicoding Academy's course Front-End Web Development Expert.
                    This project is a restaurant review catalog application that displays a list of restaurants and
                    their details. The application is built using the accessibility concept, responsive design, and
                    mobile first approach. The application is also built using the Webpack module bundler.
                </p>
                <hr>
            </div>
        </div>
    </header>

    <main tabindex="0" id="maincontent"></main>

    <footer>
        <p class="text">Submission 2 Menjadi Frontend Web Developer Expert ©2022, Dicoding Academy</p>
    </footer>
</body>

</html>